<div class="row" ng-controller="MerchantsCtrl" ng-init='init()'>
  <div class="widget">
    <div class="widget-header">
      <i class="fa fa-users"></i> Users
      <input type="text" placeholder="Search" class="form-control input-sm pull-right" ng-model="search.text" ui-keypress="{ 13 : 'fetch()' }" />
      <div class="clearfix"></div>
    </div>
    <div class="widget-body no-padding">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>商户名</th>
              <th>地址</th>
              <th>电话</th>
              <th>商户全称</th>
              <th>业主</th>
              <th>状态</th>
              <th>创建时间</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="entity in enitities" ng-click="showDetail(entity)" class="clcikable">
              <td class="text-center">{{entity.id}}</td>
              <td>{{entity.name}}</td>
              <td>{{entity.address}}</td>
              <td>{{entity.telephone}}</td>
              <td>{{entity.fullName}}</td>
              <td>{{entity.owner.name}}</td>
              <td>{{entity.status | uppercase}}</td>
              <td>{{dateFormat(entity.createdAt)}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>  
</div>